@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300;500;700&display=swap");
.btn, .btn-main-s, .btn-main {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background-color: #0075ff;
  color: white;
  border: 0.1rem solid #0075ff;
  margin: 0 0 0.5rem 0;
}

.btn-main {
  text-decoration: underline;
}
.btn-main:hover {
  background-color: white;
  color: #0075ff;
  text-decoration: none;
}

.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}
.btn-main-s:hover {
  background-color: white;
  color: #0075ff;
}

.btn-sec, .btn-sec-s, .btn-sec-m {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #000000;
  border: 0.1rem solid #000000;
  margin: auto;
}

.btn-sec-m:hover {
  background-color: white;
  color: #999;
  border-color: #999;
}

.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}
.btn-sec-s:hover {
  background-color: white;
  color: #999;
  border-color: #999;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-success);
}

.body {
  padding: 0%;
  margin: 0%;
}

.padre {
  background-image: url("../assets/img/drums-background-sm.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: solid 1px #474747;
  flex-direction: row;
  margin: 1rem 0rem;
  padding-bottom: 1rem;
  background: rgba(255, 255, 255, 0.5411764706);
}
.nav .logo a img {
  width: 10rem;
  padding: 0rem;
  transition: all 500ms ease-out;
}
.nav .logo a img:hover {
  transition: all 250ms ease-in;
  scale: 1.1;
  box-shadow: -10px 15px 15px 3px #000;
}

.sec-banner {
  width: 100%;
  height: 4rem;
  margin-top: 0rem;
  padding: 1rem 0rem;
}
.sec-banner .logos .fondo_logo {
  display: flex;
  flex-direction: column;
  background-size: contain;
  align-items: center;
  transition: all 1000ms ease-out;
}
.sec-banner .logos .fondo_logo .logo a img {
  max-width: 3rem;
  border-radius: 15%;
  transition: all 500ms ease-out;
}
.sec-banner .logos .fondo_logo .logo a img:hover {
  transition: all 250ms ease-in-out;
  box-shadow: -7px 12px 12px 3px #000;
  scale: 1.05;
}

.sec-slogan {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: -10px 15px 15px 3px #000000;
  border-radius: 15px;
  background-color: white;
  transition: all 1s ease;
}
.sec-slogan:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 0px 0px 0px #000000;
  scale: 1.1;
  text-shadow: -10px 5px 8px #2c2c2c, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
  background-color: transparent;
  color: white;
}
.sec-slogan h3 {
  font-family: "M PLUS Code Latin", sans-serif;
  stroke: #4dd7f0;
  font-weight: 500;
  font-size: 3rem;
  padding: 0.25rem;
  text-align: center;
  transition: all 250ms ease;
}

.main-menu {
  margin: 0%;
  padding: 0%;
  row-gap: 1rem;
}
.main-menu .main-menu span {
  font-size: 1.5rem;
}
.main-menu li {
  font-size: 1rem;
  display: inline;
  list-style: none;
}
.main-menu li a {
  color: #000000;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  text-shadow: -0.5rem 0.3rem 0.3rem #a3a3a3;
}
.main-menu li a:hover {
  color: #4dd7f0;
  text-decoration: underline;
}

.icons {
  padding: 0;
  margin: 1rem;
}
.icons .icon-sm i {
  color: #0075ff;
  font-size: 2rem;
  border-radius: 30%;
  padding: 0.1rem 0.4rem;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.3333333333);
}

.sec-home {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  padding: 2rem 3rem 0rem 3rem;
  width: 100%;
  align-items: center;
  background: rgba(61, 61, 61, 0.7803921569);
}
.sec-home .home-cta {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  color: white;
}
.sec-home .home-cta .cta-text {
  color: #0075ff;
  font-weight: 500;
  max-width: max-content;
}
.sec-home .home-cta .cta-text i {
  font-weight: 500;
}
.sec-home .home-cta .cta-text .home-title {
  font-weight: 400;
  font-size: 2.5rem;
}
.sec-home .home-cta p {
  padding: 0 3rem 0 0;
}
.sec-home .home-img {
  margin: 0 0rem;
}
.sec-home .home-img img {
  margin: 0 0 0 0rem;
  padding-left: 0rem;
  max-width: 25rem;
}

.sec-email {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 3rem 1rem 3rem;
  background: rgba(61, 61, 61, 0.7803921569);
}
.sec-email .btn-main {
  margin: 0 0 0 -1rem;
}

.sec-features {
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 0rem;
}
.sec-features .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: -10px 15px 15px 3px #000000;
  margin-bottom: 2rem;
  transition: all 1s ease;
  background-color: white;
  color: #000;
}
.sec-features .intro:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 0px 0px 0px #000000;
  scale: 1.1;
  text-shadow: -10px 5px 8px #2c2c2c, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
  background-color: transparent;
  color: white;
}
.sec-features .intro h3 {
  font-size: 1.8rem;
  margin: 1rem;
  transition: all 250ms ease;
}
.sec-features .intro p {
  font-size: 0.8rem;
  transition: all 250ms ease;
}
.sec-features .features {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0%;
  color: white;
  background: rgba(61, 61, 61, 0.7803921569);
  padding: 1.5rem;
}
.sec-features .features .contenido {
  padding: 0rem 0rem;
}
.sec-features .features .contenido .propiedad {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .contenido .propiedad .description {
  margin: 0rem 1rem;
  width: 100%;
}
.sec-features .features .contenido .propiedad .description .description-title {
  font-size: 1rem;
  text-align: justify;
}
.sec-features .features .contenido .propiedad .description .description-text {
  font-size: 0.9rem;
  text-align: justify;
}
.sec-features .features .description-image .estencil {
  padding: 1rem;
  margin: 0 0 0 0;
  width: 100%;
  box-shadow: -10px 15px 15px 3px #000000;
  border-radius: 10px;
  border: 1px solid #000;
}
.sec-features .features .description-image .img {
  padding: 0;
  margin: 0 0 0 0;
  width: 100%;
  box-shadow: -10px 15px 15px 3px #000000;
  border-radius: 10px;
  border: 1px solid #000;
}

.sec-benefits {
  border-top: solid 2px #ddd;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
}
.sec-benefits .intro {
  text-align: center;
  border-radius: 15px;
  box-shadow: -10px 15px 15px 3px #000000;
  margin-bottom: 2rem;
  padding: 0.1rem;
  transition: all 1s ease;
  background-color: #fff;
}
.sec-benefits .intro:hover {
  transition: all 1s ease-out;
  box-shadow: 0px 0px 0px 0px #000000;
  scale: 1.1;
  text-shadow: -10px 5px 8px #2c2c2c, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
  background-color: transparent;
  color: white;
}
.sec-benefits .intro h3 {
  font-size: 1.8rem;
  margin: 1rem;
}
.sec-benefits .intro p {
  font-size: 0.8rem;
}
.sec-benefits .benefit-card {
  margin: 0;
  padding: 0;
  color: white;
  background: rgba(61, 61, 61, 0.7803921569);
}
.sec-benefits .benefit-card .benefit-propiedad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-benefits .benefit-card .benefit-propiedad .icon {
  color: #0075ff;
  font-size: 12rem;
  margin: -2rem 0.1rem 0.1rem 0.1rem;
  padding: 0%;
  text-align: center;
}
.sec-benefits .benefit-card .benefit-propiedad .description {
  margin-top: 0rem;
  width: 80%;
}
.sec-benefits .benefit-card .benefit-propiedad .description .title {
  font-size: 2rem;
  text-align: center;
}
.sec-benefits .benefit-card .benefit-propiedad .description .text {
  color: rgba(236, 236, 236, 0.6);
  font-weight: 500;
  text-align: center;
}
.sec-benefits .benefit-card .benefit-propiedad .cta {
  color: #0075ff;
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
}

.kpis {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0rem;
  transition: all 1s ease;
}
.kpis:hover {
  transition: all 1s ease-out;
  box-shadow: 0px 0px 0px 0px #000000;
  scale: 1.1;
  text-shadow: -10px 5px 8px #2c2c2c, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}
.kpis .sec-kpis {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #0075ff;
  color: white;
  padding: 1rem 0;
  box-shadow: -10px 15px 15px 3px #000000;
  border-radius: 10px;
}
.kpis .sec-kpis .kpis-propiedad {
  align-items: center;
  padding: 0;
}
.kpis .sec-kpis .kpis-propiedad p {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.kpis .sec-kpis .kpis-propiedad h3 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.sec-onboarding {
  width: 100%;
  margin-top: 2rem;
  padding: 0;
}
.sec-onboarding .onboarding {
  margin-top: 0rem;
}
.sec-onboarding .onboarding .intro {
  text-align: center;
  border-radius: 15px;
  box-shadow: -10px 15px 15px 3px #000000;
  margin-bottom: 2rem;
  padding: 1rem;
  transition: all 1s ease;
  background-color: #fff;
}
.sec-onboarding .onboarding .intro:hover {
  transition: all 1s ease-out;
  box-shadow: 0px 0px 0px 0px #000000;
  scale: 1.1;
  text-shadow: -10px 5px 8px #2c2c2c, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
  background-color: transparent;
  color: white;
}
.sec-onboarding .onboarding .intro h3 {
  font-size: 2rem;
}
.sec-onboarding .onboarding .intro p {
  font-size: 0.8rem;
}
.sec-onboarding .onboarding .steps-row {
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(61, 61, 61, 0.7803921569);
}
.sec-onboarding .onboarding .steps-row .icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.sec-onboarding .onboarding .steps-row .icon-desc .icon {
  padding: 0%;
  margin: 1rem 1rem;
  color: #0075ff;
  font-size: 10rem;
  text-align: center;
}
.sec-onboarding .onboarding .steps-row .icon-desc .title {
  font-size: 1.5rem;
  font-weight: 600;
  /*text-align: center;*/
  margin-top: -2rem;
}
.sec-onboarding .onboarding .steps-row .icon-desc h3 {
  padding: 2rem 0;
}

.sec-footer-cta {
  background-color: #ecf4ff;
  padding: 0rem;
  background-image: url("../assets/img/microphone.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 50%;
  margin: 1rem 0 3rem 0;
  width: 100%;
  box-shadow: -10px 15px 15px 3px #000000;
  border-radius: 10px;
  border: 1px solid #000;
}
.sec-footer-cta .footer-cta {
  width: 50%;
  padding: 2rem;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 2rem;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

@media screen and (max-width: 767px) {
  .sec-slogan {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .sec-home .home-cta {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sec-onboarding .steps-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sec-onboarding .steps-row .icon-desc .title {
    text-align: center;
  }
  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-cta {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .nav {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
