@use "components";

@mixin section-display{
    width: 100%;
    margin: auto;
    padding: 2rem;

}

.body{
    padding: 0%;
    margin: 0;
}

.container-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 1rem;
    // padding: 0 2rem;
    // background-color: chocolate;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 1px #ddd;
    flex-direction: row;
    margin-top: 0rem;
}
.logo a img{
    max-width: 10rem;
}

.sec-home {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 70%;
    align-items: center;
    // margin: auto;
    .home-cta {
        display: flex;
        flex-direction: column;
        max-width: max-content;
        .cta-text{
            color: components.$color-main;
            font-weight: 500;
            max-width: max-content;
            i {
                font-weight: 500;
            }
        }
        .home-title {
            font-weight: 400;
            font-size: 2.5rem;
        }
        .input {
            padding: .3rem;
        }
        .btn-main {
            margin: 0 0 0 -1rem;
        }
    }
    .home-img {
// align-items: center;
justify-content: center;
        img {
            margin: 0 0 0 5rem;
            max-width: 80%;
        }
    }
}

.sec-features {
    @include section-display();
    .intro {
        text-align: center;
        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: .8rem;
            color: #888;
        }
    }


    .features {
        display: flex;
        flex-direction: row;
        align-items: center;
        .contenido{
            padding: .5rem 0;
            .propiedad {
                display: flex;
                flex-direction: row;
                align-items: center;
                .description {       
                    margin: 0rem 1rem;
                    width: 100%;             
                    .description-title {
                        font-size: 1rem;
                        text-align: justify;
                    }
                    .description-text {
                        font-size: .9rem;
                        text-align: justify;

                    }
                }
            }
        }
        .description-image {
            .img {
                padding: 0;
                margin: 0 0 0 0;
                max-width: 100%;
            }
            
        }
        
    }

}

.sec-benefits {
    border-top: solid 1px #ddd;
    @include section-display();
    .intro {
        text-align: center;
        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: .8rem;
            color: #888;
        }
    }    
    .benefit-card {
        margin: 0;
        padding: 0;
    }
}

.sec-kpis {
    background-color: components.$color-main;
    color: white;
    padding: 2rem;
    width: 100%;
    .kpis-propiedad {
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 4rem;
            padding: 0;
            margin: 0;
        }
        p {
            font-size: 1rem;
            padding: 0;
            margin: 0;
        }
    }
}

.sec-onboarding {
    @include section-display();
    .onboarding {
        margin: 0rem;
        padding: 0%;
        .intro {
            text-align: center;
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: .8rem;
                color: #888;
            }
        }    
        .steps-row {
            padding: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .separator {
                border-top: #ddd solid 1px;
                flex: 1;
            }
            
            
            
        }
    }
    
}

.sec-footer-cta {
    background-color: components.$color-footer;
    padding: 5rem; 
    background-image: url("../assets/img/microphone.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50%;
    margin: 0 0rem;
    width: 100%;
    .footer-cta {
        width: 50%;
        .cta-title {
            font-size: 2rem;
        }
        .cta-description {
            font-size: 1.1rem;
        }
    }
    
}

@media screen and (max-width: 767px) {
    .sec-home {
        .home-cta {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

    }
    .sec-features {
        .features {
            display:flex;
            flex-direction: row;
            width: 100%;

        }

    }

    .sec-onboarding {
        .steps-row {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .icon-desc {
                .title {
                    text-align: center;
                }
            }
        }
    }
    .sec-footer-cta {
        background-image: none;


        .footer-cta {
            text-align: center;
            width: 100%;
        }
    }
} 